/*
*
* Embed Noto Sans TC from Google Fonts CDN
*
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap&subset=chinese-traditional");

<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
=======
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap");
>>>>>>> 397967554b49c1ae14d30d13ebfb17a95fac279e
=======
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
>>>>>>> 0c74d87... import Noto Sans TC:300;400 & Montserrat 300;500
>>>>>>> a983360... import Noto Sans TC:300;400 & Montserrat 300;500

/*
 * NOTE: Make sure 'Montserrat' and 'icomoon' are declared the same way
 *      in kr-fonts.css as well!!
 */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?3qsu9h") format("truetype"),
    url("../fonts/icomoon.woff?3qsu9h") format("woff"),
    url("../fonts/icomoon.svg?3qsu9h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
button,
.form-caption h1,
.form-caption p,
.enform {
  font-family: "Noto Sans TC", sans-serif;
}

.logo-greenpeace {
  background-image: url("../images/logo_zh.png");
}

@media (max-width: 420px) {
  .logo-greenpeace {
    background-image: url("../images/logo_ko.svg");
    width: 80px !important;
  }
}

.page-template-petition .logo-greenpeace,
.page-template-donation .logo-greenpeace,
.page-template-petition-thankyou .logo-greenpeace {
  background-image: url("../images/logo_zh_green.svg");
}

.tip .tip-actions .tip-action-buttons .social-box a.tip-share-twitter {
  display: none;
}

html:lang(zh-TW)
  .tip
  .tip-actions
  .tip-action-buttons
  .social-box
  a.tip-share-whatsapp {
  display: none;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD

@media only screen and (max-width: 1023px) {
  header .content .right-box .button {
    margin-left: -7px;
<<<<<<< HEAD
  } 
=======
  }
>>>>>>> 397967554b49c1ae14d30d13ebfb17a95fac279e
}
=======
>>>>>>> 1d6c0c7... Fix the broken header layout.
>>>>>>> 0a05ac3... Fix the broken header layout.
