.section-post-donation-launcher {
  min-height: 300px !important;
  margin-top: 20px;
  padding: 60px 0 20px !important;
  background: $color-lightblue !important;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @include lessThan('sm') {
    padding: 40px 0 30px !important;
  }

  h2 {
    color: #000;
    font-size: 28px;

    @include lessThan('sm') {
      text-align: center;
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  @include lessThan('sm') {
    .post-donation-launcher__image {
      padding-bottom: 10px;
      text-align: center;
    }

    img{
      width: 56%;
    }

    .post-donation-launcher__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @include greaterThan('sm') {
    > .ct-container {
      display: flex;
      justify-content: space-between;
      padding: 0 65px;

      .post-donation-launcher__text {
        width: 73%;
        flex: 1;
        margin-right: 1rem;
      }
    }

    .post-donation-launcher__image {
      width: 26.7%;
      position: relative;

      img {
        position: absolute;
        width: 89%;
        bottom: -30px;
      }
    }

    &.align-items-center {
      > .ct-container {
        align-items: center;
      }

      .post-donation-launcher__image {
        img {
          position: relative;
          bottom: 0;
        }

      }
    }
  }
}

div.section-post-donation-launcher__border-bottom {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  //height: 3px;
}